.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 95%;
  margin: 32px auto;
}

.empty-result-message {
  margin: auto;
}

@media (max-width: 1110px) {
  .cards-container {
    justify-content: center;
  }
}
