.word-main {
  width: 600px;
  margin: 0 24px;
  margin-bottom: 24px;
}

.word-info {
  margin: 32px 0;
}

.vocab-creator-actions {
  position: absolute;
  right: 5%
}


@media (max-width: 900px) {
  .word-main {
    margin: auto;
    width: 100%;
  }
}
