.quiz-answer-item {
  flex: 1 0 auto;
  align-self: stretch;
  text-align: center;
  width: 300px;
  border-radius: 6px;
  margin: 12px;
  padding: 8px 12px;
  cursor: pointer;
}

.answer-unselected {
  border: 2px solid rgba(4,143,255,1);
  background-color: inherit;
  color: rgba(4,143,255,1);
}

.quiz-answer-item span {
  font-size: 1rem;
  line-height: 1.1rem;
}

.answer-selected {
  border: 2px solid rgba(4,143,255,1);
  background: rgba(4,143,255,1);
  color: white;
}

.answer-correct {
  border: 2px solid rgb(0, 179, 0);
  background: rgb(0, 179, 0);
  color: white;
}


.answer-uncorrect {
  border: 2px solid rgb(255, 0, 0);
  background: rgb(255, 0, 0);
  color: white;
}

@media (max-width: 900px) {
  .quiz-answer-item {
    width: 200px;
  }
}