:root {
  --brand-color: #32cdff;

  --max-width-main-content: 1082px;

  --default-font-regular: DINNextRoundedLTPro-Regular;
}

@media (max-width: 1150px) {
  :root {
    --max-width-main-content: 95%;
  }
}