@import './cssVariable.css';
@import './resetcss.css';
@import url(//db.onlinewebfonts.com/c/5c47a750b2d4cc65134ef9e6ed0cfc2d?family=DINNextRoundedLTPro-Regular);
@import url(//db.onlinewebfonts.com/c/6f1a075af8afe852f3e3c8a75e49bc31?family=DINNextRoundedLTPro-Bold);

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-family: DINNextRoundedLTPro-Bold, sans-serif;
  color: #5c5c5c;
}

body {
  margin: 0;
  background: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

input, textarea {
  font-family: DINNextRoundedLTPro-Bold, sans-serif;
  font-size: 1rem;
  padding: 0;
  border: none;
  background-color: inherit;
  color: #777777;
}

::-webkit-input-placeholder {
  color: #898989;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #898989;
}
::placeholder {
  color: #898989;
}

.separator {
  border-right: solid 1px rgb(190, 190, 190);
}

.tags-container {
  display: flex;
}

.tags-container * {
  margin-right: 8px;
}