.image-review-item {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 90%;
  padding: 24px;
  border-bottom: solid 1px rgb(204, 204, 204);
}

.image-review-item img {
  width: 300px;
}

.image-review-item:last-of-type {
  border: none;
}

.image-review-item__actions {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-review-item__actions button {
  font-size: 0.8rem;
  padding: 4px 12px;
  margin: 0px 4px;
  margin-bottom: 4px;
}

.image-review-item__actions button:last-of-type {
  background-color: red;
}