.profile-infos-container h3 {
  font-size: 1.5rem;
  margin-bottom: 36px;
  text-align: center;
}

.profil-infos-buttons {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.profil-infos-buttons * {
  margin: 0 12px;
}

.user-infos__form-delete {
  margin: 24px 0;
}

.user-infos__form-delete > button {
  margin: 16px 0;
  margin-right: 8px;
}

.user-infos__form-delete label {
  margin: 0;
}

.user-infos__form-delete > button:first-of-type {
  background-color: rgb(255, 35, 35);
}