.button {
  font: inherit;
  font-size: 1rem;
  padding: 0.65rem 1.7rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}

.button--primary-bg {
  background-color: var(--brand-color);
  color: white;
}

.button--danger {
  background-color: rgb(255, 35, 35);
  color: white;
}

.button--primary-txt-white-bg {
  background-color: white;
  color: var(--brand-color);
}

.button--plain-text {
  background-color: inherit;
  color: var(--brand-color);
  padding: 0;
}

.button--plain-text-danger {
  background-color: inherit;
  color: rgb(255, 35, 35);;
  padding: 0;
}

.button-full-length {
  width: 100%;
}