.input-wrapper-search {
  font-size: 1.4rem;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 6px;
}

.input-wrapper-auth {
  margin: 12px;
  background-color: #ffffff;
  border-bottom: 2px solid #bebebe;
}

.label-auth {
  margin: 12px;
  font-size: 1.3rem;
  background-color: #ffffff;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
}

.input-wrapper-auth input {
  font-size: 1.1rem;
  margin-bottom: 2px;
  width: 100%;
}