.input-wrapper-search {
  font-size: 1.4rem;
  background-color: #e8e8e8;
  padding: 8px;
  border-radius: 6px;
}

.input-wrapper-search input{
  width: 85%;
}

.input-full {
  width: 100%;
  padding: 4px 8px;
}

.input-full input,
.input-full textarea {
  width: 100%;
  padding: 4px 8px;
}

.input-mid {
  width: 350px;
  padding: 4px 8px;
}

.input-mid input {
  width: 100%;
}

.input-small {
  width: 250px;
  padding: 4px 8px;
}

.input-small input {
  width: 100%;
}

.input-wrapper-auth {
  margin: 12px;
  background-color: #ffffff;
  border-bottom: 2px solid #bebebe;
}

label {
  background-color: inherit;
  color: rgb(182, 182, 182);
  text-transform: uppercase;
}

.label-default {
  margin: 12px;
  font-size: 1.3rem;
}

.label-mid {
  margin: 8px 0;
  font-size: 1rem;
}


.input-wrapper-auth input {
  font-size: 1.1rem;
  margin-bottom: 2px;
  width: 100%;
}

.input__error-message {
  font-size: 0.85rem;
  color: rgb(255, 0, 0);
  text-align: center;
  margin: 6px 0;
}